version: '3.8'

services:
  dylan:
    image: ruby:4.0-alpine
    container_name: dylan
    restart: unless-stopped

    volumes:
      - /volume1/docker/dylan:/app
      - /volume1/docker/dylan/data:/app/data:rw

    working_dir: /app

    # Install build tools + git, cron, gems, setup crontab, then start
    command: sh -c "apk add --no-cache build-base bash cronie curl git && bundle install && crontab /app/config/crontab && /app/scripts/start.sh"

    networks:
      existing_macvlan:
        ipv4_address: 192.168.1.252

    environment:
      - PORT=80
      - RUBY_ENV=production

networks:
  existing_macvlan:
    external: true
    name: dockervlan
